{% extends (is_granted("ROLE_ADMIN")) ? ("admin/base.html.twig") : ("customer/base.html.twig") %}

{% block title %}ProfilCommercial
{% endblock %}

{% block body %}
	<div class="container col-auto col-md-9 col-xl-10">
		<h1>Audit réalisé le
			{{ profil.createAt ? profil.createAt|date('d-m-Y à H:i:s') : '' }}</h1>

		{% if is_granted("ROLE_ADMIN") %}
			<a class="btn my-3" href="{{ path('profil_index') }}">retour à la liste</a>
		{% else %}
			<a class="btn my-3" href="{{ path('profil_index_customer') }}">retour à la liste</a>
		{% endif %}
		{{ include('profil_commercial/_form_show.html.twig') }}

		<a class="link-dark" href="{{ path('profil_marketing_show', {'id': profil.id}) }}">
			<button class="btn">{{ button_label|default('Suivant') }}</button>
		</a>

	</div>
{% endblock %}
